@import 'tailwindcss';

:root {
  --text-color: #000000;
  --background-color: #ffffff;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-pretendard);
}
